node_modules/
dist/
keys/
dummyfiles/
Dockerfile
.env
.env.local
.env.development
.env.test
.env.production
.vscode/
.idea/
info.txt
requirements.txt
dummy-cert.pdf
learning-automation-476812-bc4733c11665.json